<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gestión de Productos</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" />

    <link rel="stylesheet" href="css/style.css">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>

</head>

<body>


    <header>
        <nav>
            <a href="SUBpaginas/Products.html">Productos</a>
            <a href="SUBpaginas/Users.html">Usuarios</a>
            <a href="SUBpaginas/Posts.html">Envios</a>
            <a href="SUBpaginas/Carts.html">Carrito</a>
        </nav>
    </header>

    
</body>
   
</html>