<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Document</title>
</head>
<body>
    


 <div class="card-form">
    <label for="">Ingresa tu  Primer nombre</label>
    <input id ="Primer_Nombre"  type="text" placeholder="Primer Nombre"class="form-control mb-3">

    <label for="">Ingresa tu Segundo nombre</label>
    <input id ="Segundo_Nombre"  type="text" placeholder="Segundo Nombre"class="form-control mb-3">

    <label for="">Ingresa tu Apellido</label>
    <input id ="Apellido"  type="text" placeholder="Apellido"class="form-control mb-3">

    <label for="">Ingresa tu Edad</label>
    <input id ="Edad"  type="number" placeholder="Edad"class="form-control mb-3">

    <label for="">Ingresa tu Genero<label>
    <input id ="Genero_Sexual"  type="text" placeholder="Gnero Sexual"class="form-control mb-3">

    <label for="">Ingresa tu Correo Electronico</label>
    <input id ="Correo_Electronico"  type="email" placeholder="Correo Electronico"class="form-control mb-3">

    <label for="">Ingresa tu NUmero Telefonico</label>
    <input id ="Telefono"  type="number" placeholder="Telefono"class="form-control mb-3">

    <label for="">Ingresa tu Nombre de Usuario</label>
    <input id ="Nombre_Usuario"  type="text" placeholder="Nombre de Usuario"class="form-control mb-3">

    <label for="">Ingresa tu Contraseña</label>
    <input id ="Contraseña"  type="password" placeholder="Contraseña"class="form-control mb-3">

    
 </div>

</body>
</html>